.canvas-wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgb(200,200,200);
}

.canvas-display {
    width: 100%;
    position: relative;
    background-color: rgb(200,200,200);
}

.canvas-display-inner {
    display: flex;
    position: absolute;
    overflow: scroll;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(200,200,200);
}

.canvas-main {
    border: 1px solid black;
}