.color-menu-display {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.color-menu-option-wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    width: 90%;
    height: 25px;
}

.color-menu-option-input {
    /* height: 100%; */
    display: flex;
    align-items: center; 
    background-color: rgb(33, 37, 41);
    /* border: none; */
    color: rgb(33, 37, 41);
    /* border: 1px solid white; */

}
.color-menu-option-label {
    height: 100%;
    display: flex;
    align-items: center; 
    /* border: none; */
    background-color: rgb(33, 37, 41);
    color: rgb(130,130,130);
    margin-left: 10px;
    /* border: 1px solid white; */
}




.color-menu-color-palette-display {
    /* width: 100%; */
    margin-bottom: 20px;
    min-height: 50px;
    width: 200px;
    /* border-radius: 2px; */
    background-color: rgb(80,80,80);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.color-menu-color-palette-item {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    margin: 3px;
    background-color: rgb(120,130,200);
    cursor: pointer;
}