.color-menu-display {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.color-menu-saturation {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    border: 2px solid rgb(50,50,50);
}
.color-menu-hue {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    z-index: 2;
    border: 2px solid rgb(50,50,50);
    height: 15px;
}

.color-menu-option-wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    width: 90%;
    height: 25px;
}

.color-menu-option-input {
    /* height: 100%; */
    display: flex;
    align-items: center; 
    background-color: rgb(33, 37, 41);
    /* border: none; */
    color: rgb(33, 37, 41);
    /* border: 1px solid white; */

}
.color-menu-option-label {
    height: 100%;
    display: flex;
    align-items: center; 
    /* border: none; */
    background-color: rgb(33, 37, 41);
    color: rgb(130,130,130);
    margin-left: 10px;
    /* border: 1px solid white; */
}


.color-menu-alpha {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    z-index: 2;
    border: 2px solid rgb(50,50,50);
    height: 15px;
}

.color-menu-color-palette-display {
    /* width: 100%; */
    margin: 20px 0 20px 0;
    height: 50px;
    width: 200px;
    border-radius: 2px;
    background-color: rgb(80,80,80);
    border: 2px solid rgb(20,20,20);
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-menu-color-palette-item {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    margin: 3px;
    background-color: rgb(120,130,200);
    border: 2px solid rgb(20,20,20);
    cursor: pointer;
}
.color-menu-palette-icon {
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}