.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-page-form {
    width: 50%;
    height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.login-page-design {
    width: 50%;
    height: 100vh;
    background-color: rgb(184, 226, 247);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.login-page-main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(214, 214, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page-wrap {
    width: 350px;
    z-index: 2;
}
.login-page-header {
    margin-bottom: 25px;
}
.login-page-error {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 7px;
    background-color: rgb(245, 158, 158);
    border-radius: 3px;
    margin-bottom: 10px;
}
.login-page-button-wrap {
    display: flex;
    justify-content: space-evenly;
}
.login-page-title {
    position: absolute;
    top: 30px;
    left: 80px;
}
.button-link, .button-link:hover {
    text-decoration: none;
    color: inherit;
}
.login-page-logo {
    position: absolute;
    width: 80px;
    height: 80px;
}
.login-page-logo-container {
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    position:relative;
}
.button {
    background-color: rgb(50,50,50);
    border: none;
}