.palette-menu-display {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(80,80,80);
    margin-bottom: 20px;
}