/* .shape-menu {
    display: flex;
    flex-direction: row;
    width: 350px;
}

.shape-menu-title {
    margin-top: 20px;
    color: rgb(200,200,200);
    text-align: center;
}

.nav-link {
    color: rgb(200,200,200);
}
.nav-link:hover {
    color: rgb(200,200,200);
}

.shape-menu-type-display {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shape-menu-border-display {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shape-menu-type-square {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.shape-menu-type-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.shape-menu-size {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.shape-menu-size-input {
    color:rgb(33, 37, 41);
    background-color: white;
    border: none;
    padding: 7px 15px;
    display: flex;
    width: 60px;
    margin: 0 10px
}

.shape-menu-size-row {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shape-menu-size-input-wrap {
    display: flex;
    align-items: center;
}
.shape-menu-size-icon {
    color:white;
    cursor: pointer;
}
.shape-menu-size-label {
    color:white;
} */
