.side-panel {
    width: 50px;
    height: 100%;
    background-color:#212529;
    display: flex;
    flex-direction: column; 
    align-items: center;
    z-index: 2;
}


.side-panel-menu {
    position: absolute;
    height: 100%;
    top: 0;
    background-color:#212529;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-panel-content {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.side-panel-title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(200,200,200);
}


.side-panel-menu-wrap {
    width: 250px;
    position: absolute;
    height: 100%;
    background-color:#212529;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.canvas {
    border: 3px solid black
}