.top-panel {
    height: 50px;
    width: 100%;
    background-color:#212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.top-panel-left {
    display: flex;
    margin-left: 50px;
}
.top-panel-right {
    display: flex;
    margin-right: 50px;
}

.top-panel-logo {
    color: white;
    height: 50px;
    width: 50px;
}


.top-panel-menu-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.top-panel-menu-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.top-menu-label {
    font-size: 16px;
}

.top-panel-menu {
    position: absolute;
    top: 100%;
    left:0;
    background-color:#212529;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.panel-button {
    border-radius: 3px;
    background-color: #212529;
    /* margin-top: 5px; */
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: rgb(200,200,200);
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-button-active {
    border-radius: 3px;
    background-color: rgb(20,20,30);
    /* margin-top: 5px; */
    width: 50px;
    height: 50px;
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-tooltip {
    position: absolute;
    left: 100%;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220,230,240);
    color: black;
    font-size: 15px;
}

