.top-panel {
    height: 50px;
    width: 100%;
    background-color:#212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.top-panel-left {
    display: flex;
    margin-left: 50px;
    position: relative;
}
.top-panel-right {
    display: flex;
    margin-right: 50px;
}

.top-panel-logo {
    color: white;
    height: 50px;
    width: 50px;
}


.top-panel-menu-top {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.top-panel-menu-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.top-menu-label {
    font-size: 16px;
    color: rgb(200,200,200);
}

.top-menu-title {
    color: rgb(200,200,200);
}

.top-panel-menu {
    position: absolute;
    top: 100%;
    left:0;
    background-color:#212529;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



